body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 .container {
    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border-style: solid;
    border-radius: 10px;
    border-width: 40px;
    border-color: darkred;
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
}

.container2 {
    height: 1000px;
    width: 1000px;
    display: grid;
    border-style: solid;
    border-radius: 10px;
    border-width: 40px;
    border-color: darkred;
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
}



.square {
    aspect-ratio: 1;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
}

.square-mouse-over {
    background-color: rgb(0, 0, 0);
}

.set-grid-size {
    background-color: darkred;
    padding: 20px;
    color:aliceblue;
    font-weight: 700;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.reload {
    background-color: darkred;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color:aliceblue;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;

}
